.TableHeader {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.TableHeader__th {
  padding: .5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  &:last-child {
    border-right: none;
  }

  // &--sortAble {
  //   &:hover {
  //     cursor: pointer;

  //     &::after {
  //       margin-left: 1rem;
  //       content: url('/icons/up-arrow.png');
  //     }
  //   }
  // }

  // &--up {
  //   &:hover {
  //     cursor: pointer;
  
  //     &::after {
  //       margin-left: 1rem;
  //       content: url('/icons/up-arrow.png');
  //     }
  //   }
  // }

  // &--down {
  //   &:hover {
  //     cursor: pointer;
  
  //     &::after {
  //       margin-left: 1rem;
  //       content: url('/icons/down-arrow.png');
  //     }
  //   }
  // }
}
