.TableHead {
  background-color: rgba(0, 0, 0, 0.1);
}

.TableHead__th {
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &--disabled {
    visibility: hidden;
  }

  &--sortable {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
